<div class="card mb-4" *ngIf="book; else nobook">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge bg-secondary">{{ book.rating }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>
    <p><strong>Preis:</strong> {{ book.price | currency:'Chf'}}</p>
    <p><strong>Rating:</strong>
      <br-book-rating [bookrating]="book.rating"></br-book-rating>
    </p>
    <!-- <p>
      <br-book-rating-standalone [bookrating]="book.rating"></br-book-rating-standalone>
    </p> -->

    <button class="btn btn-green" (click)="doRateUp()" [disabled]="ratingState | bookRatingUpperComplete"> + </button>
    <button class="btn btn-red" (click)="doRateDown()" [disabled]="ratingState | bookRatingLowerComplete"> - </button>
  </div>
</div>


<ng-template #nobook>Else</ng-template>
